:root {
    --bg-dark:#00009C;

    --logo-heigt: 100px;
    --header-height: 100px;
    --aside-width: 225px;
    --footer-height: 40px;

    --shadow:
        0 2px 23px 0 rgba(0, 0, 0, 0.1),
        0 2px 49px 0 rgba(0, 0, 0, 0.06);
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}